<table id="map" class="map">
  <% 11.times do |row| %>
  <tr>
    <% 11.times do |column| %>
    <%
      name = ""
      @players.each do |player|
        if player.x_pos == column && player.y_pos == row
          name = "player"
        end
      end
    %>
    <td class="<%= name %>"></td>
    <% end %>
  </tr>
  <% end %>
</table>
<div style="display:none;">
  <%= link_to 'Up', player_up_path(@player), id: "up" %>
  <%= link_to 'Down', player_down_path(@player), id: "down" %>
  <%= link_to 'Left', player_left_path(@player), id: "left" %>
  <%= link_to 'Right', player_right_path(@player), id: "right" %>
</div>