<%= form_with(model: monster, local: true) do |form| %>
  <% if monster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monster.errors.count, "error") %> prohibited this monster from being saved:</h2>

      <ul>
      <% monster.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :monster_name %>
  </div>

  <div class="field">
    <%= form.label :x_pos %>
    <%= form.number_field :x_pos, id: :monster_x_pos %>
  </div>

  <div class="field">
    <%= form.label :y_pos %>
    <%= form.number_field :y_pos, id: :monster_y_pos %>
  </div>

  <div class="field">
    <%= form.label :health %>
    <%= form.number_field :health, id: :monster_health %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
