<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @monster.name %>
</p>

<p>
  <strong>X pos:</strong>
  <%= @monster.x_pos %>
</p>

<p>
  <strong>Y pos:</strong>
  <%= @monster.y_pos %>
</p>

<p>
  <strong>Health:</strong>
  <%= @monster.health %>
</p>

<%= link_to 'Edit', edit_monster_path(@monster) %> |
<%= link_to 'Back', monsters_path %>
